@import "normalize.css", "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

$white: #f8fafc;
$grey: #cbd5e1;
$dark-grey: #334155;
$black: #0f172a;

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(270px, 20%) minmax(400px, 80%);
    grid-template-rows: 200px 1fr 80px;
    font-family: 'Work Sans', sans-serif;

    header {
        background-color: aqua;
    }
    
    aside {
        background-color: $dark-grey;
        color: $white;
        grid-area: 1 / 1 / -1 / 2;
        padding: 10px 20px;

        section {
            margin-bottom: 50px;
        }

        .logo-title, .logo-link {
            @extend %flex-center, %clickable;
            margin-bottom: 10px;
        }
        .logo-title {
            svg {
                max-width: 20%;
                filter: invert(100%);
                margin-right: 10px;
            }
        }
        .logo-link {
            svg {
                max-width: 10%;
                filter: invert(100%);
                margin-right: 30px;
                margin-left: 10px;
            }
        }
    }
    
    main {
        background-color: azure;
    }
    
    footer {
        background-color: bisque;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
}
h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

%flex-center {
    display: flex;
    align-items: center;
}
%clickable {
    cursor: pointer;
}